# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Entornos virtuales
env/
venv/
.venv/

# Archivos de configuración del sistema/editor
*.DS_Store
.vscode/
.idea/

# Archivos de pruebas
.coverage
*.egg-info/
dist/
build/
.pytest_cache/